spring:
  datasource:
    url: jdbc:h2:mem:bibliodb
    driverClassName: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

  mongodb:
    uri: mongodb://localhost:27017/bibliotech

server:
  port: 8080